.library{
    position:fixed;
    top:0;
    left: 0;
    width: 25rem;
    height: 100%;
    background: rgb(180, 176, 179);
    box-shadow: 2px 2px 50px gray;
    overflow: scroll;
    transform: translateX(-100%); 
    transition: all 0.5s ease;
    opacity:0;

    h2{
        padding:1rem;
    }
}


.library-song{
    display:flex;
    background: rgb(180, 176, 179);
    align-items:center;
    padding: 1rem 2rem 1rem 2rem;
    cursor:pointer;
    transition:background 0.3s ease;
    img{
        width:30%;
        border-radius: 50%;
    }
    &:hover{
        background:rgb(112, 133, 127);
    }
}

.song-description{
    padding-left:1rem;
    background:transparent;
    
    h3{
        font-size:1rem;
    }
    h4{
        font-size:0.7rem;
        color:rgb(80, 26, 26);
        
    }
}

*::-webkit-scrollbar{
   width: 5px;
}
*::-webkit-scrollbar-track{
   background:transparent;
}

*::-webkit-scrollbar-thumb{
    background-color:rgba(64, 64, 65, 0.795);
    border-radius: 20px;
    border: transparent;
 }

 .selected{
     background:rgb(187, 102, 134);
 }

 .active-library{
     transform: translateX(0%);
     opacity:1;
 }

 @media screen and (max-width:768px) {
    .library{
        width:100%;
    }
}