.library{
    position:fixed;
    top:0;
    left: 0;
    width: 25rem;
    height: 100%;
    background: rgb(180, 176, 179);
    box-shadow: 2px 2px 50px gray;
    overflow: scroll;
    h2{
        padding:1rem;
    }
}


.library-song{
    display:flex;
    background: rgb(180, 176, 179);
    align-items:center;
    padding: 1rem 2rem 1rem 2rem;
    cursor:pointer;
    img{
        width:30%;
        border-radius: 50%;
    }
    &:hover{
        background:rgb(75, 92, 102);
    }
}

.song-description{
    padding-left:1rem;
    background: rgb(188, 177, 192);
    
    h3{
        font-size:1.1rem;
    }
    h4{
        font-size:0.8rem;
        color:rgb(80, 26, 26);
        
    }
}

*::-webkit-scrollbar{
   width: 5px;
}
*::-webkit-scrollbar-track{
   background:transparent;
}

*::-webkit-scrollbar-thumb{
    background-color:rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
 }