nav{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    button{
        background:white;
        border: none;
        cursor:pointer;
        border: 2px solid black;
        padding: 0.7rem;
        transition: all 0.3s ease;
        font-size: 1rem;
        width:100px;
        &:hover{
            background:black;
            color:white;
        }
        .icon{
            background:transparent;
            padding-left:0.3rem;
        }

    }
}
h1{
    text-transform: uppercase;
    color:rgb(65, 36, 63);
    letter-spacing: 0.2rem;
    font-size: 200%;
    
}
@media screen and (max-width:768px) {
    nav{
        button{
            z-index: 10;
        }
    }
}
