*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/bg2.jpg);
}

h1,h2,h3{
    background:transparent;
    color:rgb(53, 53, 53);
}

@import "./player";
@import "./song";