*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:linear-gradient(to right, rgb(69, 142, 184),rgb(133, 48, 119))
}



h1,h2,h3{
    background:transparent;
    color:rgb(48, 47, 47);
}

@import "./player";
@import "./song";
@import "./library"